* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47CFAC;
}

.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
    margin-right: 50px;
}

.header-icons-container .icons a:nth-child(1) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(2) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(3) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/social-media-2421/512/Instagram-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(4) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Linkedin_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(5) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Youtube_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo-container {
    align-self: center;
    margin-left: 50px;
}

.nav-logo-container img {
    width: 220px;
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.profile-link a {
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #CDD2DA;
    padding-bottom: 20px;
    font-size: 1.6rem;
}

.blogpost-main-container article h1 {
    font-size: 3.5rem;
    margin: 25px 0;
}

.blogpost-main-container article p {
    font-size: 1.6rem;
}

.blogpost-main-container article p:not(:last-child) {
    margin-bottom: 10px;
}

.contact-main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #e0e3ea;
}

.contact {
    width: 320px;
    display: flex;
    align-items: flex-end;
}

.contact-main-container img {
    width: 80px;
    height: 80px;
}

.contact-left,
.contact-right {
    margin-left: 10px;
}

.contact-left a,
.contact-right a {
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
}

.contact-left p,
.contact-right p {
    margin-top: 10px;
    font-size: 1.6rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #04222d;
    border-top: 25px solid #47CFAC;
}

footer section p {
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}