* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    display: inline;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47CFAC;
}

.header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
    margin-right: 50px;
}

.header-icons-container .icons a:nth-child(1) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(2) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(3) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/social-media-2421/512/Instagram-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(4) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Linkedin_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-icons-container .icons a:nth-child(5) span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Youtube_svg-256.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

.nav-logo-container {
    align-self: center;
    margin-left: 50px;
}

.nav-logo-container img {
    width: 220px;
}

.profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.profile-link a {
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://uc157ccec08ece7e6265c805668e.previews.dropboxusercontent.com/p/thumb/ABag7HzSGJcXSLzhC983AOL8NS3gaqvsYKkgIJUUyqhZv50fKMrks3kJKB_0D6ahuX7uh895P032erRQUtQlHOyF2Sc1Rj0pwW29Ir6aBittfFAnZQU5Y0cHnWM-ZJrEt8aYXFrpz3NXg4utrq66WYCjSlT0W7WW77X-eXK_nb-I0A3Wt7-tiQQiEAhftgb693vAsrGFR0Fax2Tjhl3azWKVV6Axz1qFBQcUcN7HuiaL1UlGpBzzuAYCIhvXheZE0CpiqrZR3QN9HDIRmQRdwTZQLQgLil_CieFqGtG-ll7CFrY2gU80Pr8Qi0Rwrs-VaGs6jwbJb8LlQKBiPkSXoYvgS438VvFcq_pkIlRpET9t-CaQhldtALm6KVkBWc4tmLw/p.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    grid-column: 2 / 3;
}

.title h1 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1rem;
}

.button {
    padding: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-start;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
    background-color: #47CFAC;
    border: none;
    cursor: pointer;
}

.button a {
    width: 100px;
    height: 50px;
    /* text-align: center; */
}

/* @media (max-width: 640px) {
    .nav-logo-container .mobile-width-logo {
        width: 180px;
    }

    .header-icons-container .icons {
        margin-right: 0;
        justify-self: center;
    }

    .nav-logo-container {
        margin: 0;
    }

    .title h1 {
        letter-spacing: 0;
    }
} */